pyarrow
xlrd
pandas
scikit-learn
scipy
typeguard
seaborn
pylatex
opencv-python
imageio
openpyxl
torch
tensorflow
nptyping
colorama
IPython
plyer
librosa
webdriver-manager
selenium
beautifulsoup4
tensorflow-addons
transformers